{% extends "pages/base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="jumbotron" style="background-color:white">
        <h1 class="display-4 ">{{blog_post.title}}</h1>
        <p>Written by {{blog_post.author}} on {{blog_post.timestamp}}</p>

    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-0.7">


            </div>

            <div class="col-8">
                <div class="card p-3 m-3 shadow" style="width: 98%;">
                    {{blog_post.body}}
                </div>


            </div>
            <div class="col-3">
              <div class="card p-3 m-3 shadow" style="width: 95%;">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                  </div>
            </div>
              <div class="card p-3 m-3 shadow" style="width: 95%;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
            </div>
         </div>
    </div>


</div>


{% endblock %}